<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="SerialPort" value="COM43"/>
    <add key="G5Identity" value="PID_C049"/>
    <add key="Probe1" value=""/>
    <add key="Probe2" value=""/>
    <add key="Probe3" value=""/>
    <add key="Interval" value="100"/>
  </appSettings>
</configuration>